{% extends 'DietBundle::base.html.twig' %}

{% block title %}O nas{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">Serwis Twoja-dieta.eu istnieje od 1999r.</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
{% endblock %}
