{% extends 'DietBundle::base.html.twig' %}

{% block title %}Nasi klienci{% endblock %}
{% block contentTitle %}Nasi klienci{% endblock %}

{% block content %}
<div class="customer_list">
    <div>Pan JAKUB, 19 lat</div>
    <div>Pani JULIA, 22 lata</div>
    <div>Pan KACPER, 18 lat</div>
    <div>Pani MAJA, 24 lata</div>
    <div>Pan SZYMON, 20 lat</div>
    <div>Pani ZUZANNA, 31 lat</div>
    <div>Pan MATEUSZ, 27 lat</div>
    <div>Pani WIKTORIA, 18 lat</div>
    <div>Pan FILIP, 20 lat</div>
    <div>Pani OLIWIA, 38 lat</div>
    <div>Pan MICHAŁ, 42 lat</div>
    <div>Pani AMELIA, 20 lat</div>
    <div>Pan BARTOSZ, 19 lat</div>
    <div>Pani NATALIA, 26 lat</div>
    <div>Pan WIKTOR, 23 lat</div>
    <div>Pani ALEKSANDRA, 24 lat</div>
    <div>Pan PIOTR, 30 lat</div>
    <div>Pani LENA, 22 lat</div>
    <div>Pan DAWID, 33 lat</div>
    <div>Pani NIKOLA, 29 lat</div>
    <div>Pan ADAM, 22 lat</div>
    <div>Pani ZOFIA, 38 lat</div>
    <div>Pan MACIEJ, 21 lat</div>
    <div>Pani MARTYNA, 19 lat</div>
    <div>Pan JAN, 34 lat</div>
    <div>Pani WERONIKA, 20 lat</div>
    <div>Pan IGOR, 24 lat</div>
    <div>Pani ANNA, 39 lat</div>
    <div>Pan MIKOŁAJ, 22 lat</div>
    <div>Pani EMILIA, 29 lat</div>
    <div>Pan PATRYK, 22 lat</div>
    <div>Pani MAGDALENA, 21 lat</div>
    <div>Pan PAWEŁ, 27 lat</div>
    <div>Pani HANNA, 35 lat</div>
    <div>Pan DOMINIK, 18 lat</div>
    <div>Pani KAROLINA, 18 lat</div>
    <div>Pan OSKAR, 26 lat</div>
    <div>Pani GABRIELA, 23 lat</div>
    <div>Pan ANTONI, 47 lat</div>
    <div>Pani ALICJA, 37 lat</div>
</div>
{% endblock %}
