{% extends 'DietBundle::base.html.twig' %}

{% block title %}Twoja dieta - szczegóły{% endblock %}
{% block contentTitle %}Twoja dieta - szczegóły{% endblock %}

{% block content %}
    <p>Nazwa</p>
    <p>Cel: schudnięcie, bez zmian, na masę</p>
    <p>Aktywności</p>
    <p>Liczba posiłków 2-6</p>

{% endblock %}
