{% extends 'DietBundle::base.html.twig' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1>Twoja dieta</h1>

        <p class="lead">Załóż profil, ułóż dietę i dobierz ulubione produkty.</p>

        <p>Tak to działa! Szybko, wygodnie i co najważniejsze dokładnie.</p>

        <p>Bez ściemy.</p>

        <p>&nbsp;</p>

        <p><a class="btn btn-lg btn-success" href="{{ path('diet_profile') }}" role="button">Rozpocznij teraz</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="row" style="text-align:justify;">
        <div class="col-lg-4">
            <h2>Twój profil</h2>

            <p>W zakładce Twój profil zostaniesz poproszony o podanie podstawowych parametrów twojego ciała, takich jak wzrost, waga czy typ sylwetki. </p>
            <p>Ta część jest wspólna dla wszystkich diet oraz wpływa na różne obliczenia.</p>

            <p><a class="btn btn-primary" href="{{ path('diet_profile') }}" role="button">Przejdź &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Twoja dieta</h2>

            <p>W zakładce Twoja dieta zostaniesz poproszony o wskazanie celu, jaki zamierzasz osiągnąć,
                a także o określenie wykonywanych aktywności fizycznych.</p>
            <p>Uzupełnienie danych w zakładach Twój profil i Twoja dieta wystarczy do ułożenia planu diety.</p>

            <p><a class="btn btn-primary" href="{{ path('diet_diet') }}" role="button">Przejdź &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Twoje zamówienia</h2>

            <p>Do każdego ułożonego planu diety, jednym kliknięciem możesz zobaczyć proponowane przez nas produkty,
            dobrane specjalnie do Twojej diety.</p>
            <p>Możesz zamówić wybrane przez siebie produkty bezpośrednio u nas.
                Koniec z męczącym szukaniem odpowiednich produktów pasujących do Twojej diety na wielu stronach internetowych.</p>
            <p>Możesz zobaczyć przebieg i historię zamówień w zakładce Twoje zamówienia.</p>

            <p><a class="btn btn-primary" href="{{ path('diet_orders') }}" role="button">Przejdź &raquo;</a></p>
        </div>
    </div>
{% endblock %}
