{% extends 'DietBundle::base.html.twig' %}

{% block title %}Twoje zamówienia{% endblock %}
{% block contentTitle %}Twoje zamówienia{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Data złożenia</th>
            <th>Data płatności</th>
            <th>Status</th>
            <th>Łączna wartość</th>
            <th>Koszt transportu</th>
            <th>Akcja</th>
        </tr>
        <tr>
            <td colspan="6" class="text-center">
                brak zamówień
            </td>
        </tr>
    </table>
{% endblock %}
