{% extends 'DietBundle::base.html.twig' %}

{% block title %}Polecane produkty{% endblock %}
{% block contentTitle %}Polecane produkty{% endblock %}

{% block content %}
    <p>Dieta [nazwa]</p>
    <p>lista/kafelki polecane produkty</p>
    <p>przycisk zamów</p>

{% endblock %}
