/* line 1, ../sass/ext-fix.scss */
.x-toolbar-footer {
  background: #f2f2f2;
}

/* line 6, ../sass/ext-fix.scss */
a.x-btn {
  background: #50a950;
  border-color: #408640;
  text-decoration: none !important;
}
/* line 10, ../sass/ext-fix.scss */
a.x-btn:hover {
  background: #70bc70;
}

/* line 15, ../sass/ext-fix.scss */
.x-window-header {
  background-color: #50a950;
}

/* line 19, ../sass/ext-fix.scss */
.x-window {
  border-color: #50a950;
}

/* line 23, ../sass/ext-fix.scss */
.x-window-header-default {
  border-color: #50a950;
}

/* line 8, ../sass/screen.scss */
.fat {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 10, ../sass/screen.scss */
.fat .fat-control {
  background: rgba(0, 0, 0, 0.04);
}
/* line 12, ../sass/screen.scss */
.fat .fat-control img {
  border: 1px solid #999999;
}
/* line 15, ../sass/screen.scss */
.fat .fat-control .fat-control-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 4px;
  text-transform: uppercase;
  color: #999999;
}
/* line 22, ../sass/screen.scss */
.fat .fat-control .fat-control-indicator {
  text-align: right;
  background: rgba(255, 255, 255, 0.7);
  line-height: 24px;
  padding-right: 7px;
  padding-left: 10px;
  -webkit-border-radius: 9px 0 0 0;
  -moz-border-radius: 9px 0 0 0;
  -ms-border-radius: 9px 0 0 0;
  -o-border-radius: 9px 0 0 0;
  border-radius: 9px 0 0 0;
  font-weight: bold;
  color: #888888;
  border: 1px solid #999999;
}

/* line 36, ../sass/screen.scss */
.body-density-info {
  text-align: center;
  font-weight: bold;
}
/* line 39, ../sass/screen.scss */
.body-density-info i {
  font-weight: normal;
  color: #444444;
}

/* line 77, ../sass/screen.scss */
.kinetic-stage {
  background: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
/* line 54, ../sass/screen.scss */
.kinetic-stage.top {
  margin-top: 10px;
}
/* line 57, ../sass/screen.scss */
.kinetic-stage.right {
  margin-right: 10px;
}
/* line 60, ../sass/screen.scss */
.kinetic-stage.bottom {
  margin-bottom: 10px;
}
/* line 63, ../sass/screen.scss */
.kinetic-stage.left {
  margin-left: 10px;
}
/* line 66, ../sass/screen.scss */
.kinetic-stage.all {
  margin: 10px;
}
/* line 69, ../sass/screen.scss */
.kinetic-stage.padding {
  padding: 10px;
}
/* line 72, ../sass/screen.scss */
.kinetic-stage.inline {
  display: inline-block;
}

/* line 81, ../sass/screen.scss */
.x-panel-body-default {
  background: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
/* line 54, ../sass/screen.scss */
.x-panel-body-default.top {
  margin-top: 10px;
}
/* line 57, ../sass/screen.scss */
.x-panel-body-default.right {
  margin-right: 10px;
}
/* line 60, ../sass/screen.scss */
.x-panel-body-default.bottom {
  margin-bottom: 10px;
}
/* line 63, ../sass/screen.scss */
.x-panel-body-default.left {
  margin-left: 10px;
}
/* line 66, ../sass/screen.scss */
.x-panel-body-default.all {
  margin: 10px;
}
/* line 69, ../sass/screen.scss */
.x-panel-body-default.padding {
  padding: 10px;
}
/* line 72, ../sass/screen.scss */
.x-panel-body-default.inline {
  display: inline-block;
}

/* line 85, ../sass/screen.scss */
.a-panel {
  background: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  font-size: 15px;
  color: #555555;
}
/* line 54, ../sass/screen.scss */
.a-panel.top {
  margin-top: 10px;
}
/* line 57, ../sass/screen.scss */
.a-panel.right {
  margin-right: 10px;
}
/* line 60, ../sass/screen.scss */
.a-panel.bottom {
  margin-bottom: 10px;
}
/* line 63, ../sass/screen.scss */
.a-panel.left {
  margin-left: 10px;
}
/* line 66, ../sass/screen.scss */
.a-panel.all {
  margin: 10px;
}
/* line 69, ../sass/screen.scss */
.a-panel.padding {
  padding: 10px;
}
/* line 72, ../sass/screen.scss */
.a-panel.inline {
  display: inline-block;
}
/* line 89, ../sass/screen.scss */
.a-panel p {
  text-indent: 30px;
}

/* line 94, ../sass/screen.scss */
.a-panel-start {
  background: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
}
/* line 54, ../sass/screen.scss */
.a-panel-start.top {
  margin-top: 10px;
}
/* line 57, ../sass/screen.scss */
.a-panel-start.right {
  margin-right: 10px;
}
/* line 60, ../sass/screen.scss */
.a-panel-start.bottom {
  margin-bottom: 10px;
}
/* line 63, ../sass/screen.scss */
.a-panel-start.left {
  margin-left: 10px;
}
/* line 66, ../sass/screen.scss */
.a-panel-start.all {
  margin: 10px;
}
/* line 69, ../sass/screen.scss */
.a-panel-start.padding {
  padding: 10px;
}
/* line 72, ../sass/screen.scss */
.a-panel-start.inline {
  display: inline-block;
}

/* line 98, ../sass/screen.scss */
.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 54, ../sass/screen.scss */
.rounded.top {
  margin-top: 10px;
}
/* line 57, ../sass/screen.scss */
.rounded.right {
  margin-right: 10px;
}
/* line 60, ../sass/screen.scss */
.rounded.bottom {
  margin-bottom: 10px;
}
/* line 63, ../sass/screen.scss */
.rounded.left {
  margin-left: 10px;
}
/* line 66, ../sass/screen.scss */
.rounded.all {
  margin: 10px;
}
/* line 69, ../sass/screen.scss */
.rounded.padding {
  padding: 10px;
}
/* line 72, ../sass/screen.scss */
.rounded.inline {
  display: inline-block;
}

/* line 102, ../sass/screen.scss */
img.border {
  border: 1px solid #dedede;
}

/* line 106, ../sass/screen.scss */
.panel-body {
  padding: 0 !important;
}
