.x-toolbar-footer {
  background: darken(#ffffff, 5%);
}

  $color: #50A950;
a.x-btn {
  background: $color;
  border-color: darken($color, 10%);
  text-decoration: none !important;
  &:hover {
    background: lighten($color, 10%);
  }
}

.x-window-header, .x-panel-header {
  background-color: $color;
}

.x-window {
  border-color: $color
}

.x-window-header-default, .x-panel-header-default {
  border-color: $color;
}