//noinspection CssUnknownTarget
@import "compass/css3";
//noinspection CssUnknownTarget
@import "compass/css3/user-interface";

$mainColor: #999999;
.fat {
  @include user-select(none);
  .fat-control {
    background: rgba(#000000, 0.04);
    img {
      border: 1px solid $mainColor;
    }
    .fat-control-title {
      text-align: center;
      font-size: 20px;
      padding-bottom: 4px;
      text-transform: uppercase;
      color: $mainColor;
    }
    .fat-control-indicator {
      text-align: right;
      background: rgba(#ffffff, 0.7);
      line-height: 24px;
      padding-right: 7px;
      padding-left: 10px;
      @include border-radius(9px 0 0 0);
      font-weight: bold;
      color: #888888;
      border: 1px solid $mainColor;
    }
  }
}

.body-density-info {
  text-align: center;
  font-weight: bold;
  i {
    font-weight: normal;
    color: #444444;
  }
}

@mixin panel($spec) {
  background: rgba(#ffffff, 0.65);
  @include border-radius($spec);

  @include margin;
}

$mar: 10px;
@mixin margin {
  &.top {
    margin-top: $mar;
  }
  &.right {
    margin-right: $mar;
  }
  &.bottom {
    margin-bottom: $mar;
  }
  &.left {
    margin-left: $mar;
  }
  &.all {
    margin: $mar;
  }
  &.padding{
    padding: $mar;
  }
  &.inline{
    display: inline-block;
  }
}

.kinetic-stage {
  @include panel(0 0 15px 15px);
}

.x-panel-body-default {
  @include panel(0 0 15px 15px);
}

.a-panel {
  @include panel(15px);
  font-size: 15px;
  color: #555555;
  p{
    text-indent: 30px;
  }
}

.a-panel-start {
  @include panel(0 0 15px 15px);
}

.rounded {
  @include border-radius(15px);
  @include margin;
}
img.border{
 border: 1px solid #dedede;
}